<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="60%">
    <input
      matInput
      type="text"
      id="filt"
      (keyup)="hacerFiltro($any($event).target.value)"
      placeholder="Ingrese Texto"
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
    <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="gradoAcademico">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Grado Academico</th>
    <td mat-cell *matCellDef="let element">{{ element.gradoAcademico }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="desplegarColumnas"></tr>
  <tr mat-row *matRowDef="let row; columns: desplegarColumnas"></tr>
</table>

<mat-paginator [length]="100"
              [pageSize]="2"
              [pageSizeOptions]="[1, 5, 10, 25, 100]">
</mat-paginator>

<button mat-fab id="boton-agregar" color="warn" (click)="abrirDialog()">
  <mat-icon>add</mat-icon>
</button>

