table {
  width: 100%;
}
#boton-agregar{
  right: 45px;
  bottom: 45px;
  left: auto;
  position: absolute;
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #E5E8E8;
}