mat-form-field{
  width: 300px;
}

#contenedor{
  display: flex;
  height: 700px;
  width: 100%;
  border: 1px solid rgb(121, 230, 19);
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.element{
  flex: 1;
  height: 150px;
  width: 150px;
}

#elemento1{
  background-color:yellow;
  flex: 2;
}

#elemento2{
  background-color: royalblue;
}

#elemento3{
  background-color: red;
}
