<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="60%">
    <input
      matInput
      type="text"
      id="filt"
      (keyup)="hacerFiltro($event)"
      placeholder="Ingrese Texto"
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="ordenarColumna($event)" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</th>
    <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="autor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor</th>
    <td mat-cell *matCellDef="let element">{{ element.autor.nombreCompleto }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
    <td mat-cell *matCellDef="let element">{{ element.precio }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="desplegarColumnas"></tr>
  <tr mat-row *matRowDef="let row; columns: desplegarColumnas"></tr>
</table>

<mat-paginator
  (page)="eventoPaginador($event)"
  #paginacion
  [length]="totalLibros"
  [pageSize]="librosPorPagina"
  [pageSizeOptions]="paginaCombo"
>
</mat-paginator>

<button mat-fab id="boton-agregar" color="warn" (click)="abrirDialog()">
  <mat-icon>add</mat-icon>
</button>
