<section fxLayoutAlign="center">
<mat-card>
<form
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
  #f= "ngForm"
  (ngSubmit)="loginUsuario(f)"
  >
    <mat-form-field>
      <mat-label>Ingrese su Usuario</mat-label>
      <input type="email" matInput name="email" placeholder="E-Mail" ngModel required>
      <mat-error>Debe ingresar un correo electronico</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ingrese su Contraseña</mat-label>
      <input type="password" matInput name="password" placeholder="password" ngModel required>
      <mat-error>Debe ingresar un password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Iniciar Sesion</button>
  </form>
</mat-card>
</section>
